body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero\ dos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}

footer {
  position: fixed; /* Fija el footer en la parte inferior de la pantalla */
  bottom: 0; /* Lo sitúa en la parte inferior */
  left: 0; /* Lo sitúa en el borde izquierdo */
  width: 100%; /* Hace que el footer ocupe todo el ancho de la pantalla */
  background-color: #333; /* Cambia el color de fondo según tu diseño */
  color: #fff; /* Cambia el color del texto según tu diseño */
  padding: 10px; /* Añade espaciado al contenido del footer */
  margin: 0; /* Establece el margen a cero */
}

#descargarPDF {
  background-color: #1992dd; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  text-decoration: none; /* Sin subrayado */
  font-size: 16px; /* Tamaño de la fuente */
}
